<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ themeData.title }} </title>
    <link rel="stylesheet" href="{{ root }}style.css">
</head>
<body>
<div id="root">
    {{ content | safe }}
</div>
<div>
</div>
<script src="{{ root }}PICIDAE_COMMON.js"></script>
<script src="{{ root }}PICIDAE_ENTRY.js"></script>
</body>
</html>